<aside class="col-md-4">
  <section class="todo">
    <div class="btn-group-vertical">
      <%= link_to "Insert Question", insert_path, class: "btn btn-primary" %>
      <%= link_to "All Questions", add_questions_path, class: "btn btn-primary" %>
      <%= link_to "Create Question Paper", paper_path, class: "btn btn-primary" %>
    </div>
  </section>
</aside>
